<!DOCTYPE HTML>
<html lang="en">

<%def name="option(elements, value, text)">
    % if value in elements:
        <option value="${value}" selected>${text}</option>
    % else:
        <option value="${value}">${text}</option>
    % endif
</%def>

<head>
    <title>${site} FTS3 - Applications</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img src="/img/logo.png" width="24"/>
                    ${site} FTS3 - Applications
                </a>
            </div>
        </div>
    </div>

	<div class="container">
		<div class="row">
			<div class="col-md-12">
                <p>Identity: <b>${user.user_dn}</b></p>
            </div>
		</div>
		<div class="masthead">
			<h1 class="text-muted">Viewing app</h1>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading"><h3 class="panel-title">${app.name}</h3></div>
            <div class="panel-body">
                <p><b>Client id</b>: <span style="color: blue"> ${app.client_id}</span></p>
			    <p><b>Client secret</b>: <span style="color: red">${app.client_secret}</span></p>

			    <form id="update-form" method="POST">
                    <div class="form-group">
                        <label class="control-label">Scopes</label>
                        <select multiple="multiple" name="scope" class="form-control">
                            ${option(app.scope, 'transfer', 'Transfer')}
                            ${option(app.scope, 'deleg', 'Delegation')}
                            ${option(app.scope, 'config', 'Configuration')}
                            ${option(app.scope, 'datamanagement', 'Data Management')}
                        </select>
                    </div>
			        <div class="form-group">
                        <label class="control-label">Website</label>
                        <input name="website" type="url" required class="form-control" value="${app.website}"/>
                    </div>
			        <div class="form-group">
                        <label class="control-label">Description</label>
                        <textarea name="description" class="form-control">${app.description}</textarea>
                    </div>
			        <div class="form-group">
                        <label class="control-label">Redirect URLs</label>
                        <textarea name="redirect_to" required class="form-control">${app.redirect_to}</textarea>
                    </div>

                    <div class="form-group">
                        <a href="../apps" class="btn btn-default"><i class="glyphicon glyphicon-remove"></i> Cancel</a>
                        <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i> Update</button>
                        <button type="submit" class="btn btn-danger" style="float: right" name="delete"><i class="glyphicon glyphicon-trash"></i> Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
