<%include file="header.html" args="page='/config/global', subtitle='Server Configuration'"/>

<div class="container">
    <h2>Server-wide configuration</h2>

    <h3>Retries</h3>
    <p>
        These settings apply to all transfers belonging to the same Virtual Organization.
    </p>

    <form method="POST" id="vo-config-save-frm">
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>VO</th>
                <th title="The retry of a transfer also depends on the error code">
                    Retries
                    <i class="glyphicon glyphicon-question-sign"></i>
                </th>
                <th>
                    Global transfer timeout
                </th>
                <th>
                    Queue timeout
                </th>
                <th>
                    Add seconds/MB
                </th>
                <th>
                    Show user DN
                </th>
            </tr>
        </thead>
        <tbody id="vo-config-list">
        </tbody>
    </form>
    <form method="POST" id="vo-config-add-frm">
        <tbody id="vo-config-add">
            <tr>
                <td>
                    <button class="btn btn-link" type="submit" id="button_add_global">
                        <i class="glyphicon glyphicon-plus"></i>
                    </button>
                </td>
                <td>
                    <input type="text" name="vo_name" placeholder="VO name" class="form-control"
                        id="vo-config-add-field-vo" pattern="^[^\s]+$" required title="Space is not allowed""/>
                </td>
                <td>
                    <input type="number" id="retry" name="retry"  min="0" max="10" class="form-control"/>
                </td>
                <td>
                    <input type="number" id="global_timeout" name="global_timeout" class="form-control" min="0" />
                </td>
                <td>
                    <input type="number" id="max_time_queue" name="max_time_queue" class="form-control" min="0"/>
                </td>
                <td>
                    <input type="number" id="sec_per_mb" name="sec_per_mb" class="form-control" min="0"/>
                </td>
                <td>
                    <select name="show_user_dn" id="show_user_dn" class="form-control">
                        <option value="true" selected>Yes</option>
                        <option value="false">No</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
    </form>
</div>

<script src="/js/config/global.js" onload="setupGlobalConfig()"></script>

<%include file="footer.html"/>
