<%include file="header.html" args="page='/config/links', subtitle='Link configuration'"/>

<div class="container">
    <h2>Link configuration</h2>

    <p>
        Parameters per link. If only source or only destination is specified, it applies to any
        transfer from/to that storage.
    </p>

    <form id="link-config-add-frm">
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Symbolic name</th>
                <th>Source</th>
                <th>Destination</th>
                <th>Streams</th>
                <th>Min Actives</th>
                <th>Max Actives</th>
                <th>Optimizer Mode</th>
                <th>TCP buffer size</th>
            </tr>
        </thead>
        <tbody id="link-config-list">
        </tbody>
        <tbody id="link-config-add">
            <tr>
                <td>
                    <button class="btn btn-link" type="submit" id="button_add_link">
                        <i class="glyphicon glyphicon-plus"></i>
                    </button>
                </td>
                <td>
                    <input class="form-control" type="text" placeholder="Symbolic name" name="symbolicname" pattern="^[^\s]+$" required title="Space is not allowed"/>
                </td>
                <td>
                    <input class="form-control" type="text" placeholder="Source" name="source"
                        id="link-add-field-source" pattern="(\*|.*://?[-a-zA-Z0-9@:%._\+~#=]{1,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)[^\/])" required title="i.e. http://mysite.ch or *" />
                </td>
                <td>
                    <input class="form-control" type="text" placeholder="Destination" name="destination"
                        id="link-add-field-destination" pattern="(\*|.*://?[-a-zA-Z0-9@:%._\+~#=]{1,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)[^\/])" required title="i.e. http://mysite.ch or *" />
                </td>
                <td>
                    <input class="form-control" type="number" placeholder="Streams" name="nostreams"
                        min="0" max="16" value="1"/>
                </td>
                <td>
                    <input class="form-control" type="number" placeholder="Min Actives" name="min_active"
                        min="2" max="999999" value="2"/>
                </td>
                <td>
                    <input class="form-control" type="number" placeholder="Max Actives" name="max_active"
                        min="2" max="999999" value="60" />
                </td>
                <td>
                    <input class="form-control" type="number" placeholder="Optimizer Mode" name="optimizer_mode"
                        min="0" max="3" value="0"/>
                </td>
                <td>
                    <input class="form-control" type="number" placeholder="TCP buffer size" name="tcp_buffer_size"
                        min="0" max="999999" value="0"/>
                </td>
     
            </tr>
        </tbody>
    </table>
    </form>

    <h2>Share configuration</h2>
    <p>
        Based on these values FTS3 will split the load between the different VOS configured per link.
        Note that the values are normalized to a percentage.
    </p>
    <p>
        When configuring shares, do not forget the <kbd>public</kbd> "VO", so any other VO can have access too.
    </p>

    <form id="share-add-frm">
    <table class="table">
        <thead>
            <tr>
                <th style="width: 5em"></th>
                <th>Source</th>
                <th>Destination</th>
                <th>VO</th>
                <th>Share</th>
            </tr>
        </thead>
        <tbody id="share-list">
        </tbody>
        <tbody id="share-add">
            <tr>
                <td>
                    <button class="btn btn-link" type="submit" id="button_share_link">
                        <i class="glyphicon glyphicon-plus"></i>
                    </button>
                </td>
                <td>
                    <input type="text" name="source" placeholder="Source" class="form-control"
                        id="share-add-field-source"/>
                </td>
                <td>
                    <input type="text" name="destination" placeholder="Destination" class="form-control"
                        id="share-add-field-destination"/>
                </td>
                <td>
                    <input type="text" name="vo" placeholder="VO" class="form-control" id="share-add-field-vo" pattern="^[^\s]+$" required title="Space is not allowed"/>
                </td>
                <td>
                    <input type="number" name="share" placeholder="Share" class="form-control" id="share-add-field-share" min="0"/>
                </td>
            </tr>
        </tbody>
    </table>
    </form>
</div>

<script src="/js/config/links.js" onload="setupLinks()"></script>

<%include file="footer.html"/>
