<%include file="header.html" args="page='/config/se', subtitle='Storage configuration'"/>

<div class="container">
	<h1>Storage configuration</h1>

	<p>Here you can set some parameters that apply per storage only.</p>

	<div id="se-list">
		<script id="se-template" type="text/x-handlebars-template">
			{{#each this}}
			<div class="panel panel-primary panel-collapse" name="panelc_{{@key}}">
				<div class="panel-heading" style="cursor: pointer;">
					<h2 class="panel-title">
						{{@key}}
					</h2>
				</div>
				<form class="panel-body se-modify-frm" id="se-save-frm" name="{{@key}}">
					<input type="hidden" name="se" value="{{@key}}">
					<div class="row">
						<div class="panel panel-default se-info">
							<div class="panel-heading">
								<h3 class="panel-title">Storage Settings</h3>
							</div>
							<div class="panel-body">
								<div class="form-group">
									<label>SE Metadata</label>
									<input id="se_metadata_hidden" class="form-control" name="se_metadata" type="text" value="{{se_info.se_metadata}}"/>
								</div>
								<div class="form-group">
									<label>Inbound Max Active</label>
									<input id="inbound_max_active_hidden" class="form-control" name="inbound_max_active" type="number" min="0" value="{{se_info.inbound_max_active}}"/>
								</div>
								<div class="form-group">
									<label>Outbound Max Active</label>
									<input id="outbound_max_active_hidden" class="form-control" name="outbound_max_active" type="number" min="0" value="{{se_info.outbound_max_active}}"/>
								</div>
								<div class="form-group">
									<label>Inbound Max Throughput (MB/s)</label>
									<input id="inbound_max_throughput_hidden" class="form-control" name="inbound_max_throughput" type="number" min="0" value="{{se_info.inbound_max_throughput}}"/>
								</div>
								<div class="form-group">
									<label>Outbound Max Throughput (MB/s)</label>
									<input id="outbound_max_throughput_hidden" class="form-control" name="outbound_max_throughput" type="number" min="0" value="{{se_info.outbound_max_throughput}}"/>
								</div>
								 <div class="form-group">
                                      <label>IPv6</label>
                                      <input id="ipv6_hidden" class="form-control" type="number" name="ipv6" value="{{se_info.ipv6}}" min="0" max="1"/>
                                 </div>
								<div class="form-group">
									<label>UDT</label>
									<input id="udt_hidden" class="form-control" type="number" name="udt" value="{{se_info.udt}}" min="0" max="1"/>
								</div>
								<div class="form-group">
									<label>Debug Level</label>
									<input id="debug_level_hidden" class="form-control" name="debug_level" type="number" min="0" max="3" value="{{se_info.debug_level}}"/>
								</div>
							</div>
						</div>
					</div>
				
				<div class="panel panel-default operations">
					<div class="panel-heading">
						<h3 class="panel-title">Operations</h3>
					</div>
					<div class="panel-body">
						<table class="table" id="saved_table">
							<thead>
								<tr>
									<th></th>
									<th>VO</th>
									<th>Operation</th>
									<th>Limit</th>
								</tr>
							</thead>
							<tbody class="ops-list">
								{{#each operations as |ops vo_name|}}
								{{#each ops }}
								<tr class="frm-set-operation">
									<td>
										<a class="btn btn-link btn-delete-operation" id="se-add-ops-delete-btn" name="{{vo_name}}">
											<i class="glyphicon glyphicon-trash"></i>
										</a>
									</td>
									<td>
										<input id="vo_value" type="hidden" name="vo" class="form-control" value="{{vo_name}}">
										{{@vo_name}}
									</td>
									<td>
										<input id="operation_value" type="hidden" name="operation" class="form-control" value="{{@key}}">
										{{@key}}
									</td>
									<td>
										<input id="limit_value" type="number" name="limit" class="form-control" min="0" value="{{this}}">
									</td>
								</tr>
								{{/each}}
								{{/each}}
							</tbody>
							<tbody>
								<tr class="frm-add-operation">
									<td>
										<a class="btn btn-link btn-add-operation" id="se-add-ops-save-btn">
											<i class="glyphicon glyphicon-plus"></i>
										</a>
									</td>
									<td>
										<input id="vo_hidden" type="text" name="vo" class="form-control ui-autocomplete-input"
										autocomplete="off" pattern="^[^\s]+$" title="Space is not allowed"">
									</td>
									<td>
										<select id="operation_hidden" name="operation" class="form-control">
											<option value="delete">Delete</option>
											<option value="staging">Staging</option>
										</select>
									</td>
									<td>
										<input id="limit_hidden" type="number" name="limit" min="0" class="form-control">
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="panel-footer">
					<button class="btn btn-primary btn-save" id="button_save" name="save_{{@key}}">Save</button>
					<button class="btn btn-danger btn-delete" name="delete_{{@key}}"><i class="glyphicon glyphicon-trash"></i> Delete</button>
				</div>
			</form>
		</div>
		{{/each}}
	</script>
</div>

<div id="se-add">
	<h2>Add new storage</h2>
	<form class="panel panel-success" id="se-add-frm">
		<div class="panel-heading">
			<h2 class="panel-title">
				<input type="text" name="se" placeholder="Storage"
				class="form-control" id="se-add-field-se" pattern="(\*|.*://?[-a-zA-Z0-9@:%._\+~#=]{1,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)[^\/])" required title="i.e. http://mysite.ch or *"/>&nbsp;
		</div>
		<div class="panel-body">
			<div class="row">
					<div class="panel panel-default se-info">
						<div class="panel-heading">
							<h3 class="panel-title">Storage Settings</h3>
						</div>
						<div class="panel-body">
							<div class="form-group">
								<label for="se_metadata">SE Metadata</label> <input
								class="form-control" name="se_metadata" id="se_metadata"
								type="text"/>
							</div>
							<div class="form-group">
								<label for="inbound_max_active">Inbound Max Active</label> <input
								class="form-control" name="inbound_max_active" id="inbound_max_active"
								type="number" min="0"/>
							</div>
							<div class="form-group">
								<label for="outbound_max_active">Outbound Max Active</label> <input
								class="form-control" name="outbound_max_active" id="outbound_max_active"
								type="number" min="0"/>
							</div>
							<div class="form-group">
								<label for="inbound_max_throughput">Inbound Max Throughput (MB/s)</label> <input
								class="form-control" name="inbound_max_throughput" id="inbound_max_throughput"
								type="number" min="0"/>
							</div>
							<div class="form-group">
								<label for="outbound_max_throughput">Outbound Max Throughput (MB/s)</label> <input
								class="form-control" name="outbound_max_throughput" id="outbound_max_throughput"
								type="number" min="0"/>
							</div>
								<div class="form-group">
									<label for="ipv6">IPv6</label>
									<input class="form-control" name="ipv6" id="ipv6" type="number" min="0" max="1"/> 
							</div>
							<div class="form-group">
								<label for="udt"> UDT <i
									class="glyphicon glyphicon-question-sign"
									title="If set, FTS3 will enable UDT for this endpoint, but will fallback to non-UDT on error"></i>
								</label> 
								<input class="form-control" name="udt" id="udt" type="number" min="0" max="1"/> 
							</div>
							<div class="form-group">
								<label for="debug_level">Debug Level</label> <input
								class="form-control" name="debug_level" id="debug_level"
								type="number" min="0" max="3"/>
							</div>
						</div>
					</div>
		</div>
		<div class="panel panel-default operations">
			<div class="panel-heading">
				<h3 class="panel-title">Operations</h3>
			</div>
			<div class="panel-body">
				<table class="table">
					<thead>
						<tr>
							<th></th>
							<th>VO</th>
							<th>Operation</th>
							<th>Limit</th>
						</tr>
					</thead>
					<tbody id="se-add-ops-list" class="ops-list">
					</tbody>
					<tbody id="se-add-ops-add">
						<tr>
							<td><a class="btn btn-link" id="se-add-ops-add-btn"> <i
								class="glyphicon glyphicon-plus"></i>
							</a></td>
							<td><input type="text" id="se-add-field-vo" name="vo"
								class="form-control" pattern="^[^\s]+$" title="Space is not allowed"/></td>
								<td><select id="operation" name="operation" class="form-control">
									<option value="delete">Delete</option>
									<option value="staging">Staging</option>
								</select></td>
								<td><input id="limit" type="number" name="limit" class="form-control" min="0"/>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="panel-footer">
			<button type="submit" class="btn btn-primary">Add</button>
		</div>
	</form>
</div>
</div>

<script src="/js/config/se.js" onload="setupSe()"></script>

<%include file="footer.html"/>
